%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Alphen Grocery List
  %body
    %p= 'mark'.upcase
    %ul
      - (1..10).each do |i|
        %li= i
    %ul
      = blah
