%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Alphen Grocery List - Home
  %body
    %ul
      %li 
        %a(title='Home' href='/') Home
      %li 
        %a(title='User' href='/user') User
      %li 
        %a(title='List' href='/list/default') List
    = yield
