%html
  %head
    %link{ :type => "text/css", :rel => "stylesheet", :href => "/stylesheets/defaults.css" }
    %title= @list_id ? @list_id : 'Home'
  %body
    #main
      = yield
    #footer
      %ul
        %li 
          %a(title="Home" href='/') Home
      = get_all_lists
