%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title Alphen Grocery List - Home
  %body
    %ul
      %li 
        %a(title="Home" href="/#{@user ? 'users/' + @user : ''}") Home
      %li 
        %a(title='Register' href='/register') Register
    = yield
