%h1 Alphen
%p= @list
%ul
  = get_items @list
%form{'action' => "/list/#{@list}", 'method' => 'post'}
  %input{'type' => 'text', 'name' => 'grocery_item'}
  %input{'type' => 'submit', 'value' => 'save'}
