%h1 Alphen
%h2= @list
%ul
  = get_items @list, @user
%form{'action' => "/users/#{@user}/lists/#{@list}", 'method' => 'post'}
  %input{'type' => 'text', 'name' => 'grocery_item'}
  %input{'type' => 'submit', 'value' => 'save'}
